.admin{
    font-size: 13px;
}

// .custom-toolbar {
//   --background: #ff0000;
//   --color: #ffffff; /* Opcional: color del texto */
// }


// forgot-password.page.scss

// Esto afecta al componente <app-header> solo en esta página
.custom-toolbar {
  // Forzamos que las variables de color dentro del header sean blancas
  --ion-color-primary: #ffffff; 
  --ion-color-primary-contrast: #000000; // Letras negras
  
  // Opcional: Si quieres quitarle la sombra (la línea gris de abajo)
  --ion-toolbar-background: #ffffff;
  box-shadow: none; 
}