<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>



    <strong>{{title}}</strong>
    <div class="admin">A v i c o l A p p</div> -->
    <!-- <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>