<app-header backButton="/auth" title="Recuperar Cuenta"></app-header>

<ion-content>

    <div class="d-flex-center">
        
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keyup.enter)="submit()">

            <app-logo></app-logo>

            <h2 class="ion-text-center ion-no-margin ion-margin-bottom" style="font-weight: 700; color: var(--ion-color-dark);">
                ¿Olvidaste tu contraseña?
            </h2>

            <p class="ion-text-center">
                Ingresa tu correo electrónico y te enviaremos un enlace para restablecerla.
            </p>

            <app-custom-input 
                autocomplete="email"
                icon="mail-outline" 
                [control]="form.controls.email"
                type="email"
                label="Correo Electrónico"
            ></app-custom-input>

            <div class="validators">
                <div *ngIf="form.controls.email.errors?.['required'] && form.controls.email.touched">
                    El correo es requerido
                </div>
                <div *ngIf="form.controls.email.errors?.['email'] && form.controls.email.touched">
                    Ingrese un correo válido
                </div>
            </div>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
                Enviar enlace
                <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
            </ion-button>

        </form> 
    </div>

</ion-content>