.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --background: #fff;
}

.profile-wrapper {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
}

.profile-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avatar ion-icon {
  font-size: 100px;
  color: var(--ion-color-danger);
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0 4px;
  color: #222;
  font-weight: bold;
}

p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.role-label {
  margin-top: 5px;
  font-size: 14px;
}

.btn-history,
.btn-report,
.btn-users {
  margin-top: 15px;
  --border-radius: 10px;
  font-weight: 600;
}

.btn-history {
  --border-color: var(--ion-color-danger);
  color: var(--ion-color-danger);
}

.btn-history ion-icon {
  color: var(--ion-color-danger);
}

.btn-report,
.btn-users {
  --background: var(--ion-color-danger);
  color: white;
}

.btn-report ion-icon,
.btn-users ion-icon {
  color: white;
}

.btn-logout {
  margin-top: 35px;
  --background: var(--ion-color-danger);
  --color: #fff;
  --border-radius: 12px;
  font-weight: 600;
}

.btn-logout ion-icon {
  color: #fff;
}